/* Frequently Used Classes */

.no-pad { 
	padding: 0;
}

.btn-white-galactic {
	border: 1.5px solid white;
 	background: transparent;
 	box-shadow: none;
 	color: white;
 	border-radius: 4px;
 	margin: 0 2%;
 	padding: 1vh 2%;
}

.btn-white-galactic:hover {
	color: #0ea2c9;
	background-color: white;
}

.btn-green-galactic {
	border: 1.5px solid #1ab193;
 	background: transparent;
 	box-shadow: none;
 	color: #1ab193;
 	border-radius: 4px;
 	margin-right:2%;
 	padding: 1vh 2%;
}

.btn-green-galactic:hover {
	color: white;
	background-color: #1ab193;
}

.active-button {
	color: #0ea2c9;
	background-color: white;
	outline: 0;
}

.break-div {
	background-color: #999999;
	margin: 1% 0;
	height: 1px;
	width: 100%;
}

.submit-button {
	margin-left: 0;
}

.fa-heart-o {
	color: #999999;
}

.galactic-green {
	color: #1ab193;
}

.galactic-blue {
	color: #0ea2c9;
}

/* Nav Bar */

.nav-header {
	margin: 1vh 1%;
}
.nav-element {
	color: #999999;
	display: inline-block;
	margin: 1.2vh 2.5%;
}

.nav-element:hover {
	color: #0ea2c9;;
}

.header-logo {
	float: left;
}

.search-bar {
	width: 25%;
	margin-left: 10%;
	padding: .5vh 0 .5vh 1%;
}

/*COMMUNITY PAGE*/

		/* Community Submit Page */

.submit-container {
	background-color: #1ab193;	
	padding: 2vh 2%;
	border-radius: 10px;
}

.submit-intro {

	margin: 0 auto;
	text-align: center;
	padding: 3vh 0;
}

.submit-header {
	color: white;
	margin-bottom: 5vh;
}
.submit-prompt {
	color: white;
	font-size: 1.5em;
	margin-bottom: 3vh;
}

.form-label {
	color: #dbdbdb;
	padding-left: 1%;
}

.community-feed {
	padding: 0 2%;
}

.has-error .form-control{
	border-width: 3px;
}

.row-top-margin {
	margin-top: 2vh;
}


		/* Community Feed Page and Posts */

.content-title, .event-title, .job-title {
	color: #999999;
}

.community-content, .community-event, .community-job {
	overflow: hidden;
}

.user-hashtag {
	color: #1ab193;
}

.content-likes {
	text-align: right;
}

.heart-like {
	padding-right: 4%;
}

.heart-like:hover {
	color: #0ea2c9;
}

.user-hashtag:hover {
	text-decoration: underline;
	color: #1ab193;
}


/* PROFILE PAGE */

.profile-header {

}

.profile-pic {
	padding: 0 2% 2vh 2%;
}

.button-container {
	padding: 2vh 2%;
}

.profile-name {
	margin-bottom: 0;
}

















