block headContent
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
	link(rel="stylesheet" href="stylesheets/main.css")

div.container
	div.row
		h3(class="galactic-grey-text") Admin
		form(class="col s6 offset-s3" ng-submit="changePassword()")
			h4.galactic-grey-text Change your password
			div(class="input-field col s12")
				input(placeholder="New Password", ng-model="passwordData.passwordOne", type="password", class="validate") 
			div(class="input-field col s12")
				input(placeholder="New Password Again", ng-model="passwordData.passwordTwo", type="password", class="validate")
			p(ng-show="passwordError" class="errorText") Passwords do not match
			a(class="waves-effect btn-flat galactic-green btn-profile" ng-click="changePassword()") Submit

		p(ng-show="passwordSuccessful" class="errorText") Password updated