block headContent
	link(rel="stylesheet" href="/client/stylesheets/main.css")
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")


div.container
	div.centerize-me
		h3.galactic-blue-text(class="bottom-space") The Denver/Boulder Galactic Community

	div(ng-if="!userContainer.user" class="centerize-me posting-select")
		p(class="galactic-grey-text s10 offset-s1 l4 offset-l4") Sign in to share events, jobs and content with other creatives and freelancers in the Boulder/Denver area. 
		a(ng-click="showLogin()" class="waves-effect btn-flat galactic-blue s4 offset-s4 m4 offset-m4 l1 offset-l1 btn-profile") Sign Up / Login
	div(class="centerize-me posting-select bottom-space" ng-if="userContainer.user")
		a(class="waves-effect btn-flat galactic-green col s1 offset-s1 btn-profile" ng-click="showPostForm()") Post to Community

		form(ng-show="postForm")
			div.row
				select(ng-model="postFormData.type" ng-options="option for option in postSelectOptions" class="s4 offset-s4 postSelect")
				input(placeholder="Post Title", ng-model="postFormData.title", type="text", class="validate col s10 offset-s1 l4 offset-l1 profile-form" maxlength="50")
				input(placeholder="Post URL", ng-model="postFormData.url", type="text", class="validate col s10 offset-s1 l4 offset-l2 profile-form")
				text-angular(class="col s10 offset-s1" ng-model="postFormData.description" type="text" ta-toolbar="[['p','bold','italics','underline','strikeThrough'],['undo','redo','justifyLeft','justifyRight','justifyCenter']]")
				
			div.row
				a(class="waves-effect btn-flat galactic-green col s4 offset-s4 btn-profile" ng-click="submitPost(postFormData)") Submit

	div.bottom-space

	ul.collection(class="top-space")
		li(ng-repeat="post in posts track by $index | orderBy : '-dateCreated'" class="collection-item avatar")
			div.row
				div(class="col s12 m2")
					img(src="{{post.userCreated.profilePic}}" alt="" class="circle")
					a(ng-href="#/profile/{{post.userCreated.username}}" class="galactic-blue-text") {{post.userCreated.profileName}}
					a.delete-button(ng-show="userContainer.user._id === post.userCreated._id" ng-click="deletePost(post, $index)") Delete
					div.likesContainer
						div.number-div
							p(class="col s1 post-likes") {{post.likes}}
						div.likes-div
							a(class="col s1 fa fa-heart hearts" ng-click="iLikeThisPostCommunity(post)")
				div(class="col s12 m8 post-content")
					a.galactic-green-text(ng-href="#/profile/{{post.userCreated.username}}/{{post._id}}" class="postTitle") {{post.title}}
					div(class="post-body" ta-bind ng-model="post.body")
					a.post-url(href="https://{{post.url}}" class="galactic-green-text") {{post.url}}
					p.galactic-blue-text(ng-if="post.time") {{post.time}}
					div 
						p.galactic-grey-text.date-created {{post.dateCreated | date:'short'}}









