block headContent
	link(rel="stylesheet" href="stylesheets/main.css")
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")

div.container
	div.centerize-me
		h3.galactic-blue-text(class="bottom-space") The Denver/Boulder Galactic Community

	div(class="centerize-me")
		p(ng-if="!userContainer.user" class="posting-select galactic-grey-text") Sign in to share events, jobs and content with other creatives and freelancers in the Boulder/Denver area. 
			a(href="#/login" class="waves-effect btn-flat galactic-blue col s1 offset-s1 btn-profile") Sign Up / Login
	div(class="centerize-me posting-select bottom-space" ng-if="userContainer.user")
		a(class="waves-effect btn-flat galactic-green col s1 offset-s1 btn-profile" ng-click="showJobForm()") Post Job
		a(class="waves-effect btn-flat galactic-green col s1 offset-s1 btn-profile" ng-click="showContentForm()") Post Content
		a(class="waves-effect btn-flat galactic-green col s1 offset-s1 btn-profile" ng-click="showEventForm()") Post Event

		form(ng-show="jobForm")
			div.row
				input(placeholder="Job Title", ng-model="jobFormData.title", type="text", class="validate col s4 offset-s1 profile-form" maxlength="50")
				input(placeholder="Job URL", ng-model="jobFormData.url", type="text", class="validate col s4 offset-s2 profile-form")
				input(placeholder="Job Description", ng-model="jobFormData.description", type="text", class="validate col s10 offset-s1 profile-form" maxlength="300") 
			div.row
				a(class="waves-effect btn-flat galactic-green col s1 offset-s1 btn-profile" ng-click="submitJob(jobFormData)") Submit

		form(ng-show="contentForm")
			div.row
				input(placeholder="Content Title", ng-model="contentFormData.title", type="text", class="validate col s4 offset-s1 profile-form" maxlength="50")
				input(placeholder="Content URL", ng-model="contentFormData.url", type="text", class="validate col s4 offset-s2 profile-form")
				input(placeholder="Content Description", ng-model="contentFormData.description", type="text", class="validate col s10 offset-s1 profile-form" maxlength="300") 
			div.row
				a(class="waves-effect btn-flat galactic-green col s1 offset-s1 btn-profile" ng-click="submitContent(contentFormData)") Submit

		form(ng-show="eventForm")
			div.row
				input(placeholder="Event Title", ng-model="eventFormData.title", type="text", class="validate col s4 offset-s1 profile-form" maxlength="50")
				input(placeholder="Event URL", ng-model="eventFormData.url", type="text", class="validate col s4 offset-s2 profile-form")
				input(placeholder="Event Description", ng-model="eventFormData.description", type="text", class="validate col s10 offset-s1 profile-form" maxlength="200") 
				input(ng-model="eventFormData.time", type="date", class="datepicker col s4 offset-s1 profile-form")
			div.row
				a(class="waves-effect btn-flat galactic-green col s1 offset-s1 btn-profile" ng-click="submitEvent(eventFormData)") Submit
	
	div.bottom-space

	ul.collection(class="top-space")
		li(ng-repeat="post in posts track by $index | orderBy : '-dateCreated'" class="collection-item avatar")
			div.row
				div(class="col s2")
					img(src="images/test_profile_pic.png" alt="" class="circle")
					a(ng-href="#/profile/{{post.userCreated.username}}" class="galactic-blue-text") {{post.userCreated.profileName}}
					a.delete-button(ng-show="userContainer.user._id === post.userCreated._id" ng-click="deletePost(post, $index)" class="delete-button") Delete
					div.likesContainer
						div.number-div
							p(class="col s1 post-likes") {{post.likes}}
						div.likes-div
							a(class="col s1 fa fa-heart hearts" ng-click="iLikeThisPostCommunity(post)")
				div(class="col s8")
					h4.galactic-green-text {{post.title}}
					p.galactic-grey-text {{post.body}}
					a(href="https://{{post.url}}" class="galactic-green-text") {{post.url}}
					p.galactic-blue-text(ng-if="post.time") Event Date: {{post.time}}
					div 
						p.galactic-grey-text.date-created {{post.dateCreated}}














