block headContent
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
	link(rel="stylesheet" href="css/stylesheets/home.css")
	

section.hero-image-container
	div.smokescreen.row
		div.hero-slogan-container
			h1.hero-slogan Helping Boulder's Creative 
			h1.hero-slogan & Freelance Communities Unite

			//- a(class="waves-effect grey waves-light btn" ) learn more 
			input.button(type="button" scroll-to-item scroll-to="#scrolledTo" value="Learn More")
		
section.partners-container.row
	div(class="col s12")
		ul.home-list
			li
				a(href="www.github.com")
					img(class="partner-logo" mimeType="image/svg+xml" src="images/refactoruLogo.svg")
			li 
				a(href="github.com")
					img(class="partner-logo" mimeType="image/svg+xml" src="images/galvanizeLogo.svg")
			li 
				a(href="github.com")
					img(class="partner-logo" mimeType="image/svg+xml" src="images/sparkLogo.svg")
			li 
				a(href="github.com")
					img(class="partner-logo" mimeType="image/svg+xml" src="images/bdaLogo.svg")
			li 
				a(href="github.com")
					img(class="partner-logo" mimeType="image/svg+xml" src="images/impacthubLogo.svg")

section.tab-container.row
	div(class="upcomingEvents--Tab col s6" id="home-tab" ng-click="showEventsTab()")
		h3(ng-class="clickClass") Upcoming Events
		p Go to these events. Grow your network. Get more business!
	div(class="recentJobs--Tab col s6" id="home-tab" ng-click="showJobsTab()")
		h3(ng-class="clickClass") Recent Job Posts
		p Our community is constantly posting new Gigs and Jobs
		

div.open--Tab.upcomingEvents--Tab(ng-if="eventsTab")
	div(class="col s12 col m6")
		h3 Events Under Construction


div.open--Tab.recentJobs--Tab(ng-if="jobsTab")
	div(class="col s12 col m6")
		h3 Jobs Under Construction


section.actioncall-container
	div(class="callToAction-Smokescreen")
		a(class="waves-effect waves-light btn-large join-button" ng-show="!userContainer.user" ng-click="showLogin()") Join the Collective
		
section.information-container.row(id="scrolledTo" name="about")
	div.about-copy-container(class="col s12" ng-if="aboutSection")
		h3(class="col s12" ng-click="showAbout()") About Us 
		p Founded in Boulder, CO circa. 2015, Boulder Collective is a local group of freelancers, creatives, and developers. We're here to connect and unite Boulder's ever-growing freelance/creative community in a different way. The most successful freelancers today succeed bacause they have large and supportive networks. We're here to:

		ul.reasons-list
			li Provide MORE freelancers an opportunity to grow their networks via local events, meetups, parties, and more.
			li Build Boulder's largest events-based community of freelancers and creatives in the hopes that numbers 


section.recently-joined-container.row
	div(class="recently-joined-header col s12")
		p Recently Joined
	div.member-cards-container
		ul.home-list-joined
			li 
				img(src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT5y0n12q_bRowNuFD3kW1MxkNzDmnqqBDWtSFhE5QiuPBarGxr")
			li 
				img(src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT5y0n12q_bRowNuFD3kW1MxkNzDmnqqBDWtSFhE5QiuPBarGxr")
			li
				img(src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT5y0n12q_bRowNuFD3kW1MxkNzDmnqqBDWtSFhE5QiuPBarGxr")
			li
				img(src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT5y0n12q_bRowNuFD3kW1MxkNzDmnqqBDWtSFhE5QiuPBarGxr")
	div.see-members-button
		a(class="waves-effect waves-light btn", href="#/search") See All Members


