block headContent
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
	link(rel="stylesheet" href="/client/stylesheets/main.css")

div.container
	h1(class="centerize-me galactic-green-text") Home Page Currently Under Construction