block headContent
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
	link(rel="stylesheet" href="/client/stylesheets/home.css")

div.heroImage--Container
	div.smokescreen.row
		h3.heroImage--Slogan Helping Boulder's Creative/Freelance<br />Community Unite
		input(type="button" class="btn btn-default btn-lg") Crash the App

div.row.tab--Container
	//- div(class="about--Tab col m3 col s12" id="home--Tab" ng-click="showAboutTab()")
	//- 	h5 About<br />Galactic
	//- 	p WTF is galactic Collective and why should you join? That is the question.
	

	div(class="upcomingEvents--Tab col m6 col s12" id="home--Tab" ng-click="showEventsTab()")
		h5 Upcoming<br />Events
		p Go to these events. Grow your mothereffin network. Get more business!
		

	div(class="recentJobs--Tab col m6 col s12" id="home--Tab" ng-click="showJobsTab()")
		h5 Recent<br />Job Posts
		p Our community is constantly posting up new gigs and jobs
		

	//- div(class="resources--Tab col m3 col s12" id="home--Tab" ng-click="showResourcesTab()")
	//- 	h5 Freelance<br /> Resources
	//- 	p A collection of helpful resources for the resourceful freelancer
		


//- open tabs
//- div.open--Tab.about--Tab.row(ng-show="aboutTab")
//- 	div(class="col s12 col m6")
//- 		h3 We're here to help Boulder's freelance community Flourish

//- 	div(class="col s12 col m6")
//- 		p Galactic does everything in it's power to help freelancers and creatives<br />Meet more people<br />Get more gigs

div.open--Tab.upcomingEvents--Tab.row(ng-show="eventsTab")
	div(class="col s12 col m6")
		h3 some text 

	div(class="col s12 col m6")
		p some way to show upcoming events


div.open--Tab.recentJobs--Tab.row(ng-show="jobsTab")
	div(class="col s12 col m6")
		h3 Some text 

	div(class="col s12 col m6")
		p some way to show recent job posts

//- div.open--Tab.resources--Tab.row(ng-show="resourcesTab")
//- 	div(class="col s12 col m6")
//- 		h3 Some text 

//- 	div(class="col s12 col m6")
//- 		p static list of resources

	
div.partners--Container.row
	div.col-sm-12
		h4 Our Partners
	a(href="www.github.com")
		img(src="../images/refactoruLogo.png")
	a(href="github.com")
		img(src="../images/galvanizeLogo.png")
	a(href="github.com")
		img(src="../images/impacthubLogo.png")
	a(href="github.com")
		img(src="../images/sparkLogo.png")
	a(href="github.com")
		img(src="../images/bdaLogo.png")

div.callToAction-Container
	div(class="callToAction-Smokescreen")
		a(class="waves-effect pink waves-light btn-large") Join the Collective

div.about-Container.row
	div.aboutUs(class="col s6")
		h5 About Us 
	div.aboutUs-Copy(class="col s6")
		h4 This Collective was created for two reasons and two reasons only:
		p To help local freelancers and creatives Unite, engage the community and help each other succeed.
		p To help freelancers and creatives get more gigs. 


