doctype html
html(lang='en' ng-app="masterApp")
	head
		meta(charset="utf-8")
		title Galactic Collective
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css")
		link(rel="stylesheet" href="stylesheets/layout.css")
		script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-route.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-resource.js")
		script(src="masterApp.js")
		script(src="directives/fileModel.js")
		block headContent
	body

		nav(ng-controller="loginController")
			div.nav-wrapper
				a(href="#/", class="brand-logo left")
					img(src="/images/Header_Solo_Logo.png", alt="")
				ul.right
					li.nav-element
						a(href="#/", class="nav-element") Search
					li.nav-element
						a(href="#/community", class="nav-element") Community
					li.nav-element(ng-show="userContainer.user", ng-click="logout()")
						a(href="") Logout
					li.nav-element(ng-show="!userContainer.user")
						a(ng-click="showLogin()" class="nav-element button") Log In/Sign Up
					li.nav-element(ng-show="userContainer.user")
						a(ng-href="#/admin/{{userContainer.user.username}}") Admin
					a.right(class="profile-nav" ng-href="#/profile/{{userContainer.user.username}}" ng-show="userContainer.user")
						img(src="{{userContainer.user.profilePic}}" alt="" class="circleHeaderProfile")

		block content

	
	//- script(src="//cdn.quilljs.com/0.20.0/quill.js")
	//- script(src="services/multipartForm.js")
