doctype html
html(lang='en' ng-app="masterApp")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Boulder Collective
		script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.4.6/textAngular.css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-route.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-resource.js")

		script(src="client/masterApp.js")
		script(src="client/directives/fileModel.js")

		script(src="https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.4.6/textAngular-rangy.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.4.6/textAngular-sanitize.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.4.6/textAngular.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.4.6/textAngularSetup.js")

		block headContent
		link(rel="stylesheet" href="client/css/partials/main.css")
		link(rel="stylesheet" href="client/css/partials/layout.css")
		link(rel="stylesheet" href="client/css/partials/loginModal.css")
		link(rel="stylesheet" href="client/css/partials/nav.css")

	body(ng-controller="loginController")
		section
			nav
				div.nav-wrapper
					a(href="#/", class="nav-logo left")
						img(src="client/images/Header_Solo_Logo.png", alt="brand logo")
					ul.right
						li.nav-element
							a(href="#/", class="nav-element") Home
						li.nav-element
							a(href="#/search", class="nav-element") Search
						li.nav-element
							a(href="#/community", class="nav-element") Community
						li.nav-element(ng-show="userContainer.user", ng-click="logout()")
							a(href="") Logout
						li.nav-element(ng-show="!userContainer.user" ng-click="showLogin()")
							a(href="") Log In
						li.nav-element(ng-show="userContainer.user")
							a(ng-href="#/admin/{{userContainer.user.username}}") Admin
						a.right(class="profile-nav" ng-href="#/profile/{{userContainer.user.username}}" ng-show="userContainer.user")
							img(src="{{userContainer.user.profilePic}}" alt="" class="circleHeaderProfile")
			div.loginLightbox(ng-show="loginModal" ng-click="closeLogin()")
				button.close-button(type="button" ng-click="closeLightbox()") x
				div.lightbox-wrapper
					div(class="form-container")
						form(ng-submit="login()" ng-click="$event.stopPropagation()")
							p.form-header Welcome Back
							p(ng-show="loginError" class="errorText") Username or password is incorrect.
							div(class="input-field")
								input(class="validate" placeholder="Username" ng-model="loginFormData.username" type="text")
								label(for="username")  
							div(class="input-field")
								input(class="validate" placeholder="Password" ng-model="loginFormData.password" type="password")
								label(for="signinPassword")
						div.loginLightbox-button-container
							input.loginLightbox-button(type="submit" value="Login")

					//- div(class="col s4 offset-s4 white-background" ng-click="$event.stopPropagation()")

					div(class="form-container")
						form(ng-submit="signup()" ng-click="$event.stopPropagation()")
							p.form-header Join the Community
							p(ng-show="signUpError" class="errorText") User already exists in userbase.
							div(class="input-field")
								input(placeholder="Username (displayed as @username)", ng-model="signUpFormData.username", type="text", class="validate")
								label(for="name") 
							div(class="input-field")
								input(placeholder="Email", ng-model="signUpFormData.email", type="email", class="validate")
								label(for="email") 					
							div(class="input-field")
								input(placeholder="Password", ng-model="signUpFormData.password", type="password", class="validate")
								label(for="password")
						div.loginLightbox-button-container
							input.loginLightbox-button(type="submit" value="Sign Up")
								
		block content

	footer
		ul.footer-nav
			li(class="col s12 m1") 
				a(href="#/") Home
			li(class="col s12 m1") 
				a(href="#/search") Search
			li(class="col s12 m1") 
				a(href="#/community") Community
			li(class="col s12 m1") 
				a(ng-click="showLogin()") Join
			li(class="col s12 m1") 
				a(href="") Contact Us
		p.copyright Copyright 2015 Galactic Acid LLC - Boulder, CO