doctype html
html(lang='en' ng-app="masterApp")
	head
		meta(charset="utf-8")
		title Galactic Collective
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/quill/0.20.0/quill.snow.min.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css")
		link(rel="stylesheet" href="/client/stylesheets/main.css")
		script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-route.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-resource.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/quill/0.20.0/quill.js")
		script(type="text/javascript" src="/node_modules/ng-quill/src/ng-quill.js")			
		script(src="/client/masterApp.js")
		script(src="/client/directives/fileModel.js")
		block headContent



	body
		div(ng-controller="loginController")
			nav
				div.nav-wrapper
					a(href="#/", class="brand-logo left")
						img(src="/client/images/Header_Solo_Logo.png", alt="")
					ul.right
						li.nav-element
							a(href="#/search", class="nav-element") Search
						li.nav-element
							a(href="#/community", class="nav-element") Community
						li.nav-element(ng-show="userContainer.user", ng-click="logout()")
							a(href="") Logout
						li.nav-element(ng-show="!userContainer.user" ng-click="showLogin()")
							a(href="") Log In/Sign Up
						li.nav-element(ng-show="userContainer.user")
							a(ng-href="#/admin/{{userContainer.user.username}}") Admin
						a.right(class="profile-nav" ng-href="#/profile/{{userContainer.user.username}}" ng-show="userContainer.user")
							img(src="{{userContainer.user.profilePic}}" alt="" class="circleHeaderProfile")
				
			div.loginLightbox(ng-show="loginLightbox" ng-click="closeLogin()")
				div.lightbox-container(class="col s4 offset-s4")
					div.row(class="col s4 offset-s4 no-space")
						form(class="col s4 offset-s4 white-background" ng-submit="login()" ng-click="$event.stopPropagation()")
							h3(class="galactic-grey-text centerize-me") Welcome Back
							p(ng-show="loginError" class="errorText") Username or password is incorrect.
							div(class="input-field col s12")
								input(placeholder="Username", ng-model="loginFormData.username", type="text", class="validate")
								label(for="username") 
							div(class="input-field col s12")
								input(placeholder="Password", ng-model="loginFormData.password", type="password", class="validate")
								label(for="signinPassword") 
							input(type="submit" value="Login" class="waves-effect btn-flat galactic-green col s2 btn-profile")

					div(class="col s4 offset-s4 white-background" ng-click="$event.stopPropagation()")


					div.row(class="col s4 offset-s4")
						form(class="col s4 offset-s4 white-background", ng-submit="signup()" ng-click="$event.stopPropagation()")
							h3(class="galactic-grey-text centerize-me") Join the Community
							p(ng-show="signUpError" class="errorText") User already exists in userbase.
							div(class="input-field col s12")
								input(placeholder="Username (displayed as @username)", ng-model="signUpFormData.username", type="text", class="validate")
								label(for="name") 
							div(class="input-field col s12")
								input(placeholder="Email", ng-model="signUpFormData.email", type="email", class="validate")
								label(for="email") 					
							div(class="input-field col s12")
								input(placeholder="Password", ng-model="signUpFormData.password", type="password", class="validate")
								label(for="password") 
							input(type="submit" value="Sign Up" class="waves-effect btn-flat galactic-green col s2 btn-profile")

			block content
			
		
		//- script(src="//cdn.quilljs.com/0.20.0/quill.js")
		//- script(src="services/multipartForm.js")
