block headContent
	link(rel="stylesheet" href="css/partials/loginModal.css")

block loginTemplate
	div(class="container")
		div.splashImageBox
			div
				img(src="images/Galactic-Splash.png")
		div(class="row")
			form(class="col s6 offset-s3" ng-submit="login()")
				h3(class="galactic-blue-text centerize-me") Welcome Back
				p(ng-show="loginError" class="errorText") Username or password is incorrect.
				div(class="input-field col s12")
					input(placeholder="Username", ng-model="loginFormData.username", type="text", class="validate")
					label(for="username") 
				div(class="input-field col s12")
					input(placeholder="Password", ng-model="loginFormData.password", type="password", class="validate")
					label(for="signinPassword") 
				input(type="submit" value="Login" class="waves-effect btn-flat galactic-green col s2 btn-profile")
		div(class="row")
			form(class="col s6 offset-s3", ng-submit="signup()")
				h3(class="galactic-blue-text centerize-me") Join the Community
				p(ng-show="signUpError" class="errorText") User already exists in userbase.
				div(class="input-field col s12")
					input(placeholder="Username (displayed as @username)", ng-model="signUpFormData.username", type="text", class="validate")
					label(for="name") 
				div(class="input-field col s12")
					input(placeholder="Email", ng-model="signUpFormData.email", type="email", class="validate")
					label(for="email") 					
				div(class="input-field col s12")
					input(placeholder="Password", ng-model="signUpFormData.password", type="password", class="validate")
					label(for="password") 
				input(type="submit" value="Sign Up" class="waves-effect btn-flat galactic-green col s2 btn-profile")
