block headContent
	link(rel="stylesheet" href="stylesheets/main.css")
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")

div.container
	div.collection
		li(class="collection-item avatar")
			div.row(class="col s6 offset-s3")

				div
					img(src="{{postData.userCreated.profilePic}}" ng-href="#/profile/{{postData.userCreated.username}}" alt="" class="circle")
					a(ng-href="#/profile/{{postData.userCreated.username}}" class="galactic-blue-text") {{postData.userCreated.profileName}}
					p.galactic-grey-text {{postData.dateCreated | date:'short'}}
					
				div(class="top-space")
					h3.galactic-green-text {{postData.title}}
					div
						div.number-div
							p(class="col s1 viewing-post-likes") {{postData.likes}}
						div.likes-div
							a(class="col s1 fa fa-heart viewing-hearts" ng-click="iLikeThisPostCommunity(postData)")

					p.galactic-grey-text {{postData.body}}
					p.galactic-blue-text(ng-if="postData.time") {{postData.time}}
					a.post-url(href="https://{{postData.url}}" class="galactic-green-text") {{postData.url}}


				div(class="profile-line col-s3")			
					img(src="{{postData.userCreated.profilePic}}" ng-href="#/profile/{{postData.userCreated.username}}" alt="" class="circle")
					a(ng-href="#/profile/{{postData.userCreated.username}}" class="galactic-blue-text") {{postData.userCreated.profileName}}
					p.galactic-grey-text {{postData.userCreated.profileBlurb}}