block headContent
	link(rel="stylesheet" href="stylesheets/main.css")
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")

div.container
	div.collection
		li(class="collection-item avatar")
			div.row(class="col s6 offset-s3")

				div
					img(src="{{postData.userCreated.profilePic}}" ng-href="#/profile/{{postData.userCreated.username}}" alt="" class="circle")
					a(ng-href="#/profile/{{postData.userCreated.username}}" class="galactic-blue-text") {{postData.userCreated.profileName}}
					p.galactic-grey-text {{postData.dateCreated | date:'short'}}
					
				div(class="top-space")
					h3.galactic-green-text {{postData.title}}
					div
						div.number-div
							p(class="col s1 viewing-post-likes") {{postData.likes}}
						div.likes-div
							a(class="col s1 fa fa-heart viewing-hearts" ng-click="iLikeThisPostCommunity(postData)")

					p.galactic-grey-text(class="post-body") {{postData.body}}
					p.galactic-blue-text(ng-if="postData.time" ) {{postData.time}}
					a(href="https://{{postData.url}}" class="galactic-green-text") {{postData.url}}


				div(class="profile-line col-s3")			
					img(src="{{postData.userCreated.profilePic}}" ng-href="#/profile/{{postData.userCreated.username}}" alt="" class="circle")
					a(ng-href="#/profile/{{postData.userCreated.username}}" class="galactic-blue-text") {{postData.userCreated.profileName}}
					p.galactic-grey-text {{postData.userCreated.profileBlurb}}

div.loginLightbox(ng-show="loginLightbox" ng-click="closeLogin()")
	div.lightbox-container(class="col s4 offset-s4")
		div.row(class="col s4 offset-s4 no-space")
			form(class="col s4 offset-s4 white-background" ng-submit="login()" ng-click="$event.stopPropagation()")
				h3(class="galactic-grey-text centerize-me") Welcome Back
				p(ng-show="loginError" class="errorText") Username or password is incorrect.
				div(class="input-field col s12")
					input(placeholder="Username", ng-model="loginFormData.username", type="text", class="validate")
					label(for="username") 
				div(class="input-field col s12")
					input(placeholder="Password", ng-model="loginFormData.password", type="password", class="validate")
					label(for="signinPassword") 
				input(type="submit" value="Login" class="waves-effect btn-flat galactic-green col s2 btn-profile")

		div(class="col s4 offset-s4 white-background" ng-click="$event.stopPropagation()")


		div.row(class="col s4 offset-s4")
			form(class="col s4 offset-s4 white-background", ng-submit="signup()" ng-click="$event.stopPropagation()")
				h3(class="galactic-grey-text centerize-me") Join the Community
				p(ng-show="signUpError" class="errorText") User already exists in userbase.
				div(class="input-field col s12")
					input(placeholder="Username (displayed as @username)", ng-model="signUpFormData.username", type="text", class="validate")
					label(for="name") 
				div(class="input-field col s12")
					input(placeholder="Email", ng-model="signUpFormData.email", type="email", class="validate")
					label(for="email") 					
				div(class="input-field col s12")
					input(placeholder="Password", ng-model="signUpFormData.password", type="password", class="validate")
					label(for="password") 
				input(type="submit" value="Sign Up" class="waves-effect btn-flat galactic-green col s2 btn-profile")