block headContent
	link(rel="stylesheet" href="stylesheets/profile.css")

div.container
	div.top-profile(class="col s12")
		div(class="col s4")
			img(src="images/test_profile_pic.png")
			p {{profileUser.likes}}

		div(class="col s8")
			h2 {{profileUser.username}}
			h4 {{profileUser.profileLocation}}
			p {{profileUser.profileBlurb}}
			div.button-container
				button
					a(class="waves-effect waves-white btn-flat" ng-href="https://{{profileUser.buttonOneUrl}}") {{profileUser.buttonOneText}}
				button(class="btn btn-galactic") 
					a(ng-href="https://{{profileUser.buttonTwoUrl}}") {{profileUser.buttonTwoText}}
				button(class="btn btn-galactic") 
					a(ng-href="https://{{profileUser.buttonThreeUrl}}") {{profileUser.buttonThreeText}}

	div.break-div Break Div

	div.bottom-profile(class="col s12")
		div(class="col s6")
				h5 Skills
				p {{profileUser.skills}}

		div(class="col s6")
			h5 Bio
			p {{profileUser.profileBio}}










