block headContent
	link(rel="stylesheet" href="stylesheets/main.css")
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")


div.container
	a(class="waves-effect btn-flat galactic-green col s1 offset-s1 btn-profile" ng-if="userContainer.user.username === profileUser.username" ng-click="onEditting()" ng-show="!editing") Edit Profile					
	form.edit-profile(ng-show="editing")
		div.row
			input(placeholder="Profile Name", ng-model="profileUser.profileName", type="text", class="validate col s4 offset-s1 profile-form" maxlength="25")
			input(placeholder="Profile Location", ng-model="profileUser.profileLocation", type="text", class="validate col s4 offset-s2 profile-form" maxlength="25") 
		div.row
			input(placeholder="Profile Blurb", ng-model="profileUser.profileBlurb", type="text", class="validate col s10 offset-s1 profile-form" maxlength="160")
		div.row
			input(placeholder="Button 1 Text", ng-model="profileUser.buttonOneText", type="text", class="validate col s4 offset-s1 profile-form" maxlength="12")
			input(placeholder="Button 1 URL", ng-model="profileUser.buttonOneUrl", type="text", class="validate col s4 offset-s2 profile-form")
		div.row
			input(placeholder="Button 2 Text", ng-model="profileUser.buttonTwoText", type="text", class="validate col s4 offset-s1 profile-form" maxlength="12")
			input(placeholder="Button 2 URL", ng-model="profileUser.buttonTwoUrl", type="text", class="validate col s4 offset-s2 profile-form")
		div.row
			input(placeholder="Button 3 Text", ng-model="profileUser.buttonThreeText", type="text", class="validate col s4 offset-s1 profile-form" maxlength="12")
			input(placeholder="Button 3 URL", ng-model="profileUser.buttonThreeUrl", type="text", class="validate col s4 offset-s2 profile-form")
			
		div.row
			input(placeholder="Skills", ng-model="profileUser.skills", type="text", class="validate col s10 offset-s1 profile-form" maxlength="250")
		div.row
			input(placeholder="Bio", ng-model="profileUser.profileBio", type="text", class="validate col s10 offset-s1 profile-form" maxlength="250")
		div.row
			a(class="waves-effect btn-flat galactic-green col s1 offset-s1 btn-profile" ng-click="submitToServer()") Submit
	div.top-profile(class="col s12")
		div.row
			div(class="col s3 left-profile")
				img(src="images/test_profile_pic.png")
				p(class="profile-text") {{profileUser.likes}} Likes

			div(class="col s9 right-profile")
				h2(class="profile-text") {{profileUser.profileName}}
				h4(class="profile-text") {{profileUser.profileLocation}}
				p(class="profile-text galactic-grey-text") {{profileUser.profileBlurb}}
				div.btn-container
					a(class="waves-effect btn-flat white btn-profile" ng-href="https://{{profileUser.buttonOneUrl}}") {{profileUser.buttonOneText}}
					a(class="waves-effect btn-flat white btn-profile" ng-href="https://{{profileUser.buttonTwoUrl}}") {{profileUser.buttonTwoText}}
					a(class="waves-effect btn-flat white btn-profile" ng-href="https://{{profileUser.buttonThreeUrl}}") {{profileUser.buttonThreeText}}


	div.bottom-profile(class="col s12")
		div.row
			div(class="col s6 profile-skills")
					h5.galactic-green-text Skills
					p.galactic-grey-text {{profileUser.skills}}

			div(class="col s6 profile-bio")
				h5.galactic-green-text Bio
				p.galactic-grey-text {{profileUser.profileBio}}

	div.allPosts
		h3(class="galactic-grey-text") Posts
		ul.collection(class="top-space")
			li(ng-repeat="post in posts" class="collection-item avatar")
				div.row
					div(class="col s2")
						a(ng-show="userContainer.user._id === post.userCreated" ng-click="deletePost(post)") Delete
						div.likesContainer
							div.number-div
								p(class="col s1 post-likes") {{post.likes}}
							div.likes-div
								a(class="col s1 fa fa-heart hearts" ng-click="iLikeThisPostProfile(post)")
					div(class="col s8")
						h4.galactic-green-text {{post.title}}
						p.galactic-grey-text {{post.body}}
						a(href="https://{{post.url}}" class="galactic-green-text") {{post.url}}
						p.galactic-blue-text(ng-if="post.time") Event Date: {{post.time}}
						div 
							p.galactic-grey-text.date-created {{post.dateCreated}}










