block headContent
	link(rel="stylesheet" href="client/stylesheets/main.css")
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")


div.container
	a(class="waves-effect btn-flat galactic-green col s10 offset-s1 btn-profile m1 offset-m1" ng-if="userContainer.user.username === profileUser.username" ng-click="onEditting()" ng-show="!editing") Edit Profile					
	form.edit-profile(ng-show="editing" enctype="multipart/form-data")
		div.row
			input(placeholder="Profile Name", ng-model="profileUser.profileName", type="text", class="validate col s4 offset-s1 profile-form" maxlength="25")
			input(placeholder="Profile Location", ng-model="profileUser.profileLocation", type="text", class="validate col s4 offset-s2 profile-form" maxlength="25") 
		div.row
			input(placeholder="Profile Blurb", ng-model="profileUser.profileBlurb", type="text", class="validate col s10 offset-s1 profile-form" maxlength="160")
		div.row
			label(for="profilePicUpload", class="validate col s4 offset-s1 profile-form") Profile Picture
		div.row
			input(type="file" file-model="profileUser.uploadPic", class="validate col s4 offset-s1 profile-form" name="uploadPic")
		div.row
			input(placeholder="Button 1 Text", ng-model="profileUser.buttonOneText", type="text", class="validate col s4 offset-s1 profile-form" maxlength="12")
			input(placeholder="Button 1 URL", ng-model="profileUser.buttonOneUrl", type="text", class="validate col s4 offset-s2 profile-form")
		div.row
			input(placeholder="Button 2 Text", ng-model="profileUser.buttonTwoText", type="text", class="validate col s4 offset-s1 profile-form" maxlength="12")
			input(placeholder="Button 2 URL", ng-model="profileUser.buttonTwoUrl", type="text", class="validate col s4 offset-s2 profile-form")
		div.row
			input(placeholder="Button 3 Text", ng-model="profileUser.buttonThreeText", type="text", class="validate col s4 offset-s1 profile-form" maxlength="12")
			input(placeholder="Button 3 URL", ng-model="profileUser.buttonThreeUrl", type="text", class="validate col s4 offset-s2 profile-form")
			
		div.row
			input(placeholder="Skills", ng-model="profileUser.skills", type="text", class="validate col s10 offset-s1 profile-form" maxlength="250")
		div.row
			input(placeholder="Bio", ng-model="profileUser.profileBio", type="text", class="validate col s10 offset-s1 profile-form" maxlength="250")
		div.row
			a(class="waves-effect btn-flat galactic-green col s1 offset-s1 btn-profile" ng-click="submitToServer()") Submit
			
	div.top-profile(class="row")
		div.row
			div.centrize-me(class="galactic-blue")
				div(class="col s12 m12 l3 offset-l3 left-profile")
					img.user-profile-pic(src="{{profileUser.profilePic}}?{{rand}}")
					

				div(class="col s12 m12 l4 right-profile")
					h2(class="profile-text") {{profileUser.profileName}}
					h4(class="profile-text-grey") {{profileUser.profileLocation}}
					p(class="profile-text-grey profileBlurb") {{profileUser.profileBlurb}}

		div.row
			div.btn-container
				a(class="waves-effect btn-flat galactic-green btn-profile col s10 offset-s1 m4 offset-m4 l2 offset-l3" ng-href="https://{{profileUser.buttonOneUrl}}") {{profileUser.buttonOneText}}
				a(class="waves-effect btn-flat galactic-green btn-profile col s10 offset-s1 m4 offset-m4 l2" ng-href="https://{{profileUser.buttonTwoUrl}}") {{profileUser.buttonTwoText}}
				a(class="waves-effect btn-flat galactic-green btn-profile col s10 offset-s1 m4 offset-m4 l2" ng-href="https://{{profileUser.buttonThreeUrl}}") {{profileUser.buttonThreeText}}		



	div.bottom-profile
		div.row
			div(class="col s10 offset-s1 m10 offset-m1 l6 profile-skills")
					h5.galactic-green-text Skills
					p.galactic-grey-text {{profileUser.skills}}

			div(class="col s10 offset-s1 m10 offset-m1 l6 profile-bio")
				h5.galactic-green-text Bio
				p.galactic-grey-text {{profileUser.profileBio}}
		div.row
			div
				p(class="profile-text centerize-me") {{profileUser.likes}} Likes
	
	div.portfolio(class="row")
		div.portfolioOne(class="col s12 m4 offset-m4 l4" ng-click="viewPortfolioOne()")
			img.portfolio-pic(src="{{profileUser.portfolioOnePic}}")
			h4.portfolio-title(class="galactic-grey-text") {{profileUser.portfolioOneTitle}}
		div.portfolioTwo(class="col s12 m4 offset-m4 l4" ng-click="viewPortfolioTwo()")
			img.portfolio-pic(src="{{profileUser.portfolioTwoPic}}")
			h4.portfolio-title(class="galactic-grey-text") {{profileUser.portfolioTwoTitle}}
		div.portfolioThree(class="col s12 m4 offset-m4 l4" ng-click="viewPortfolioThree()")
			img.portfolio-pic(src="{{profileUser.portfolioThreePic}}")
			h4.portfolio-title(class="galactic-grey-text") {{profileUser.portfolioThreeTitle}}

	div.portfolioOneLightbox(ng-show="viewingPortfolioOne")
		div.lightbox-container(class="col s12 m4 offset-m4")
			img.portfolio-pic(src="{{profileUser.portfolioOnePic}}" ng-show="!portfolioOneEditing")
			h4.portfolio-lightbox-text(class="galactic-grey-text" ng-show="!portfolioOneEditing") {{profileUser.portfolioOneTitle}}
			p.portfolio-lightbox-text(class="galactic-grey-text" ng-show="!portfolioOneEditing") {{profileUser.portfolioOneDesc}}
			a.portfolio-lightbox-text(class="galactic-green-text" href="https://{{profileUser.portfolioOneURL}}" ng-show="!portfolioOneEditing") {{profileUser.portfolioOneURL}}

			form.edit-profile(ng-show="portfolioOneEditing" enctype="multipart/form-data")
				div.row
					input(type="file" file-model="profileUser.portfolioOnePic", class="profile-form col s4 offset-s4 lightbox-form" name="portfolioOnePic")
				div.row
					input(placeholder="Portfolio Title", ng-model="profileUser.portfolioOneTitle", type="text", class="validate profile-form col s4 offset-s4 lightbox-form" maxlength="30")
				div.row
					input(placeholder="Portfolio Description. 100 characters.", ng-model="profileUser.portfolioOneDesc", type="text", class="validate profile-form col s4 offset-s4 lightbox-form" maxlength="100")
				div.row
					input(placeholder="Portfolio Url", ng-model="profileUser.portfolioOneUrl", type="text", class="validate profile-form col s4 offset-s4 lightbox-form" maxlength="50")
			
			a(class="waves-effect btn-flat galactic-green col s1 offset-s1 btn-profile" ng-if="userContainer.user.username === profileUser.username" ng-click="editPortfolioOne()" ng-show="!portfolioOneEditing") Edit
			a(class="waves-effect btn-flat galactic-green col s1 offset-s1 btn-profile" ng-if="userContainer.user.username === profileUser.username" ng-click="updatePortfolioOne()" ng-show="portfolioOneEditing") Save
			a(class="waves-effect btn-flat galactic-green col s1 offset-s1 btn-profile" ng-click="closePortfolioOne()") Close
	
	div.portfolioTwoLightbox(ng-show="viewingPortfolioTwo")
		div.lightbox-container(class="col s12 m4 offset-m4")
			img.portfolio-pic(src="{{profileUser.portfolioTwoPic}}" ng-show="!portfolioTwoEditing")
			h4.portfolio-lightbox-text(class="galactic-grey-text" ng-show="!portfolioTwoEditing") {{profileUser.portfolioTwoTitle}}
			p.portfolio-lightbox-text(class="galactic-grey-text" ng-show="!portfolioTwoEditing") {{profileUser.portfolioTwoDesc}}
			a.portfolio-lightbox-text(class="galactic-green-text" href="https//:{{profileUser.portfolioTwoURL}}" ng-show="!portfolioTwoEditing") {{profileUser.portfolioTwoURL}}

			form.edit-profile(ng-show="portfolioTwoEditing" enctype="multipart/form-data")
				div.row
					input(type="file" file-model="profileUser.portfolioTwoPic", class="profile-form col s4 offset-s4 lightbox-form" name="portfolioOnePic")
				div.row
					input(placeholder="Portfolio Title", ng-model="profileUser.portfolioTwoTitle", type="text", class="validate profile-form col s4 offset-s4 lightbox-form" maxlength="30")
				div.row
					input(placeholder="Portfolio Description. 100 characters.", ng-model="profileUser.portfolioTwoDesc", type="text", class="validate profile-form col s4 offset-s4 lightbox-form" maxlength="100")
				div.row
					input(placeholder="Portfolio Url", ng-model="profileUser.portfolioTwoUrl", type="text", class="validate profile-form col s4 offset-s4 lightbox-form" maxlength="50")

			a(class="waves-effect btn-flat galactic-green col s1 offset-s1 btn-profile" ng-if="userContainer.user.username === profileUser.username" ng-click="editPortfolioTwo()" ng-show="!portfolioTwoEditing") Edit
			a(class="waves-effect btn-flat galactic-green col s1 offset-s1 btn-profile" ng-if="userContainer.user.username === profileUser.username" ng-click="updatePortfolioTwo()" ng-show="portfolioTwoEditing") Save
			a(class="waves-effect btn-flat galactic-green col s1 offset-s1 btn-profile" ng-click="closePortfolioTwo()") Close

	div.portfolioThreeLightbox(ng-show="viewingPortfolioThree")
		div.lightbox-container(class="col s12 m4 offset-m4")
			img.portfolio-pic(src="{{profileUser.portfolioThreePic}}" ng-show="!portfolioThreeEditing")
			h4.portfolio-lightbox-text(class="galactic-grey-text" ng-show="!portfolioThreeEditing") {{profileUser.portfolioThreeTitle}}
			p.portfolio-lightbox-text(class="galactic-grey-text" ng-show="!portfolioThreeEditing") {{profileUser.portfolioThreeDesc}}
			a.portfolio-lightbox-text(class="galactic-green-text" href="https://{{profileUser.portfolioThreeURL}}" ng-show="!portfolioThreeEditing") {{profileUser.portfolioThreeURL}}

			form.edit-profile(ng-show="portfolioThreeEditing" enctype="multipart/form-data")
				div.row
					input(type="file" file-model="profileUser.portfolioThreePic", class="profile-form col s4 offset-s4 lightbox-form" name="portfolioThreePic")
				div.row
					input(placeholder="Portfolio Title", ng-model="profileUser.portfolioThreeTitle", type="text", class="validate profile-form col s4 offset-s4 lightbox-form" maxlength="30")
				div.row
					input(placeholder="Portfolio Description. 100 characters.", ng-model="profileUser.portfolioThreeDesc", type="text", class="validate profile-form col s4 offset-s4 lightbox-form" maxlength="100")
				div.row
					input(placeholder="Portfolio Url", ng-model="profileUser.portfolioThreeUrl", type="text", class="validate profile-form col s4 offset-s4 lightbox-form" maxlength="50")

			a(class="waves-effect btn-flat galactic-green col s1 offset-s1 btn-profile" ng-if="userContainer.user.username === profileUser.username" ng-click="editPortfolioThree()" ng-show="!portfolioThreeEditing") Edit
			a(class="waves-effect btn-flat galactic-green col s1 offset-s1 btn-profile" ng-if="userContainer.user.username === profileUser.username" ng-click="updatePortfolioThree()" ng-show="portfolioThreeEditing") Save
			a(class="waves-effect btn-flat galactic-green col s1 offset-s1 btn-profile" ng-click="closePortfolioThree()") Close

	div.allPosts
		h3.post-headline(class="galactic-grey-text centerize-me") Posts
		ul.collection(class="top-space")
			li(ng-repeat="post in posts track by $index | orderBy : '-dateCreated'" class="collection-item avatar")
				div.row
					div(class="col s12 m2")
						a.delete-button(ng-show="userContainer.user._id === post.userCreated._id" ng-click="deletePost(post, $index)") Delete
						div.likesContainer
							div.number-div
								p(class="col s1 post-likes") {{post.likes}}
							div.likes-div
								a(class="col s1 fa fa-heart hearts" ng-click="iLikeThisPostCommunity(post)")
					div(class="col s12 m8 post-content")
						a.galactic-green-text(ng-href="#/profile/{{post.userCreated.username}}/{{post._id}}" class="postTitle") {{post.title}}
						div(class="post-body" ta-bind ng-model="post.body")
						a.post-url(href="https://{{post.url}}" class="galactic-green-text") {{post.url}}
						div 
							p.galactic-grey-text.date-created {{post.dateCreated | date:'short'}}






