	div.container
		div.top-profile(class="col s12")
			div(class="col s4")
				img(src="images/test_profile_pic.png")
				p Number of Likes

			div(class="col s8")
				h2 User Name
				h4 User Location
				p User blurb that is limited to 160 characters so they don't talk ad nauseum.
				div.button-container
					button Button 1
					button Button 2
					button Button 3

		div.break-div Break Div

		div.bottom-profile(class="col s12")
			div(class="col s6")
				div.left-skills
					p Skill 1
					p Skill 2
					p Skill 3
					p Skill 4
					p Skill 5
				div.right-skills
					p Skill 6
					p Skill 7
					p Skill 8
					p Skill 9
					p Skill 10

			div(class="col s6")
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec.










