block headContent
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
	link(rel="stylesheet" href="css/stylesheets/search.css")
	

div.banner-container
	img(class="partner-logo" alt="banner image" src="images/banner.png")

section
	div.search-container.row
		div(class="search-container col s12")
			div.splash-intro
				h1 Find Members to Connect With
		input(class="search-input" ng-model="query" placeholder="Search by name, location or skills")

ul.collection
	li(ng-repeat="profile in profiles | filter: query | limitTo: 10" class="collection-item avatar")
		div.row(class="profile-box")
			div(class="col s2 offset-s2 left-profile")
				div.thumb
					img.profilePicCircle(src="{{profile.profilePic}}" alt="")
			div(class="col s6 right-profile")
				a(ng-href="#/profile/{{profile.username}}" class="galactic-green-text profile-nav") {{profile.profileName}}
				h5.search-location {{profile.profileLocation}}
				p {{profile.skills}}
				div
					div.number-div
						p(class="col s1") {{profile.likes}}
					div.likes-div
						a(class="col s1 fa fa-heart hearts")
