body {
	font-family: Geneva;
}

/************ Hero Image Styling ************/


.heroImage--Container {
	background-image: url("http://www.colorado.edu/studentgroups/CUSEDS/oldwebsite/YNBoulder/2010/images/yuris_night_boulder_2010_5.jpg");
	height: 450px;
	width: 100%;
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

.smokescreen {
	height: 100%;
	width: 100%;
	background-color: rgba(255,255,255,0.955);
	/*background-color: rgba(0,0,0,.5);*/
	display: flex;
	justify-content: center;
	align-items: center;	
}

.heroImage--Slogan {
	color: #2DBFE8;
	margin-left: 10px;
}

.partners--Container {
	max-width: 100%;
	background-color: white;
	text-align: center;
	margin-bottom: 0;
}



/************ Tab Styling ************/

.white {color: white;}

.about-green {color: #0f5959;}

.events-green {color: #17a697;}

.jobs-blue {color: #638ca6;}

.resources-blue {color: #8fd4d9;}

.tab--Container {
	margin:0;
}


#home--Tab {
	color: white;
	height: 190px;
	margin: none;
	padding: 20px;
}

#home--Tab:hover {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}


.about--Tab {
	background-color: #e2eae9;
}

.upcomingEvents--Tab {
	background-color: #d4dbda;
}

.recentJobs--Tab {
	background-color: #bdd6d2;
}

.resources--Tab {
	background-color: #a5c8ca;
}


.open--Tab {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
	color: white;
	height: 500px;
	margin: none;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}



/************ Call-to-Action Styling ************/

.callToAction--Container {
	max-width: 100%;
	margin: 0;
	background-image: url("http://www.colorado.edu/studentgroups/CUSEDS/oldwebsite/YNBoulder/2010/images/yuris_night_boulder_2010_5.jpg");
	text-align: center;
	color: white;
}

.callToAction--Smokescreen {
	padding: 20px;
	background-color: rgba(0,0,0,0.7);
	display: flex;
	justify-content: center;
	align-items: center;
}