
/*Common Styles*/

.galactic-blue {
	background-color: #0ea2c9;
}
.galactic-green-text {
	color: #1ab193;
}

.galactic-blue-text {
	color: #0ea2c9;
}

.galactic-grey-text {
	color: #999999;
}

.centerize-me {
	text-align: center;
}

.galactic-green {
	background-color: #1ab193;
	color: white;
}

.galactic-blue {
	background-color: #0ea2c9;
	color: white;
}

.blue-link {
	color: #0ea2c9;
}

h1, h2, h3 {
	font-family: Helvetica;
}

p, h4, h5 {
	font-family: Arial;
}

h4 {
	font-size: 1.2em;
	font-style: italic;
}

/*Login Page Styling*/

.errorText {
	color: red;
}

/*Profile Page Styling*/

.profile-text {
	color: #1ab193;
	margin: 0;
}

.profile-text-grey {
	color: #999999;
	margin: 0;
}

.profileBlurb {
	margin-top: .5vh;
}

.top-profile {
	padding: 2% 2vh;
	padding-bottom: 0;
}

.left-profile, .right-profile {
	display: inline-block;
}

.left-profile {
	text-align: right;
}

.btn-profile {
	margin: 2% 2vh;
	text-align: center;
}

.btn-container {
	text-align: center;

}

.profile-skills, .profile-bio {
	display: inline-block;
	padding: 2% 2vh;
	overflow: hidden;

}

.profile-form {
	display: block;
}

.user-profile-pic {
	height: 125px;
	width: 125px;
}

.post-headline {
	border-top: 1px solid #999999;
	padding-top: 2%;
}

.portfolioOne, .portfolioTwo, .portfolioThree {
	display: inline-block;
	width: 33.33%;
	text-align: center;
}

.portfolio-pic {
	/*margin: auto 0;*/
}

.portfolioOneLightbox, .portfolioTwoLightbox, .portfolioThreeLightbox {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: black;
  background: rgba(0,0,0,0.8);
}

.portfolioViewing {
	width: 60%;
	background-color: white;
}

.lightbox-container {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.portfolio-lightbox-text {
	text-align: center;
	display: block;
}

/*Community Page*/

.post-body {
	margin-bottom: 1em;
}

.postTitle {
	font-size: 1.5em;
}

.bottom-space {
	margin-bottom : 1em;
}

.splash-intro {
	margin-right: 5%;
}

.top-space {
	margin-top : 1em;
}
.postForm {
	margin-left: 25%;
    margin-right:25%;
    width: 100%;
}

.posting-select {
	border: 1px solid #0ea2c9;
}

.date-created {
	position: absolute;
	top: 0;
	right: 0;
	margin: top 2vh;
}

.delete-button {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 1% 1vh;
	color: #D1D1D1;
}

/*Search/Home Page*/

.no-space {
	margin: none;
	padding: none;
}

.number-div {
	text-align: right;
	display: inline-block;
	margin-right: none;
}
.post-likes {
	text-align: right;
	margin-right: none;
	padding: 0;
}


a.col.s1.fa.fa-heart.hearts {
	padding: 0;
}

.likes-div {
	text-align: left;
	display: inline-block;
}

.fa-heart {
	text-align: left;
	margin-bottom: 4px;
}

.likesContainer {
	position: absolute;
    bottom: 0;
    right: 0;
}

.splashImageBox {
	width: 100%;
}

.splashImageBox img {
	width: 100%;
}

.search-intro {
	margin: 2em 0;
}

.search-sub-intro {
	font-size: 1.9em;
	margin-bottom: 1em;
	margin-right: 5%;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #0ea2c9;
    font-size : 1.1em;
     opacity: 1 !important;
}

.search-container {
	padding: 1vh;
	margin-top: 7vh;
	background-color: #F2F2F2;
}

.search-box {
	border: 1px solid #1ab193;
	padding: 1vh 1em;
}

.thumb {
	position: relative;
  	width: 125px;
  	height: 125px;
  	overflow: hidden;
    border-radius: 50%;
}

.profilePicCircle {
    position: absolute;
  	left: 50%;
  	top: 50%;
 	height: 100%;
  	width: auto;
  	-webkit-transform: translate(-50%,-50%);
   	   -ms-transform: translate(-50%,-50%);
   	       transform: translate(-50%,-50%);
}



.collection {
	border: none;
}

.profile-nav {
	font-size: 2em;
}

.search-location {
	font-size: 1.2em;
}

.search-likes {
	font-size: 1em;
}

/*Posts Page*/

.left-column {
	background-color: blue;
}

ul, li {
	list-style-type: none;
}

.blockify {
	display: block;
	text-align: left;
}

a.col.s1.fa.fa-heart.viewing-hearts {
	padding: 0;
}

.viewing-post-likes {
	margin-right: none;
	padding: 0;
}

.viewing-hearts {
	padding: 0;
	padding-top: 3px;
}

.profile-line {
	margin-top: 2em;
	border-top: 1px solid #999999;
	padding: 2% 0;
}
