/*Profile Page Styling*/

.galactic-green {
	background-color: #1ab193;
	color: white;
}

.profile-text {
	color: white;
	padding-left: 10%;
}

.top-profile {
	background-color: #1ab193;
	padding: 2% 2vh;
}

.left-profile, .right-profile {
	display: inline-block;
}

.left-profile {
	text-align: center;
}

.btn-profile {
	margin: 2% 2vh;
	text-align: center;
}

.btn-container {
	padding-left: 10%;
}

.profile-skills, .profile-bio {
	display: inline-block;
	padding: 2% 2vh;
	overflow: hidden;

}

.profile-form {
	display: block;
}