body {
	padding: 0;
	margin: 0;
}



/*Common Styles*/

.toolbar-container, .editor-container {
	border: 1px solid #ccc;
}

.galactic-blue {
	background-color: #0ea2c9;
}
.galactic-green-text {
	color: #1ab193;
}

.galactic-blue-text {
	color: #0ea2c9;
}

.galactic-grey-text {
	color: #999999;
}

.centerize-me {
	text-align: center;
}

.galactic-green {
	background-color: #1ab193 !important;
	color: white;
}

.galactic-blue {
	background-color: #0ea2c9;
	color: white;
}

.blue-link {
	color: #0ea2c9;
}

h1, h2, h3 {
	font-family: Helvetica;
}

p, h4, h5 {
	font-family: Arial;
}

h4 {
	font-size: 1.2em;
	font-style: italic;
}




/*Login Page Styling*/

.errorText {
	color: red;
}

/*Profile Page Styling*/

.portfolio-pic {
	height: 250px;
	width: 350px;
}

.lightbox-form {
	color: white;
}

.profile-text {
	color: #1ab193;
	margin: 0;
}

.profile-text-grey {
	color: #999999;
	margin: 0;
}

.profileBlurb {
	margin-top: .5vh;
}

.top-profile {
	padding: 2% 2vh;
	padding-bottom: 0;
}

.left-profile, .right-profile {
	display: inline-block;
}

.left-profile {
	text-align: right;
}

.btn-profile {
	margin: 2% 2vh;
	text-align: center;
}

.btn-container {
	text-align: center;

}

.profile-skills, .profile-bio {
	display: inline-block;
	padding: 2% 2vh;
	overflow: hidden;

}

.profile-form {
	display: block;
}

.user-profile-pic {
	height: 150px;
	width: 150px;
}

.post-headline {
	border-top: 1px solid #999999;
	padding-top: 2%;
}

.portfolioOne, .portfolioTwo, .portfolioThree {
	display: inline-block;
	width: 33.33%;
	text-align: center;
}


.portfolioOneLightbox, .portfolioTwoLightbox, .portfolioThreeLightbox, .loginLightbox {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: black;
  background: rgba(0,0,0,0.8);
}

.portfolioViewing {
	width: 60%;
	background-color: white;
}

.lightbox-container {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.white-background {
	background-color: white;
}

.portfolio-lightbox-text {
	text-align: center;
	display: block;
}

/*Community Page*/

.postSelect {display: inline-block !important;}

.post-content {margin-top:15px;}

.post-body {
	margin: 1em 0 !important;
}

.postTitle {
	font-size: 1.5em;
	margin-top:1em;
}

.bottom-space {
	margin-bottom : 1em;
}

.splash-intro {
	margin-right: 5%;
}

.top-space {
	margin-top : 1em;
}
.postForm {
	margin-left: 25%;
    margin-right:25%;
    width: 100%;
}

.posting-select {
	border: 1px solid #0ea2c9;
}

.date-created {
	position: absolute;
	top: 10px;
	right: 10px;
	margin: top 2vh;
}

.delete-button {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 1% 1vh;
	color: #D1D1D1;
}


/*Posts Page*/

.left-column {
	background-color: blue;
}

ul, li {
	list-style-type: none;
}

.blockify {
	display: block;
	text-align: left;
}

a.col.s1.fa.fa-heart.viewing-hearts {
	padding: 0;
}

.viewing-post-likes {
	margin-right: none;
	padding: 0;
}

.viewing-hearts {
	padding: 0;
	padding-top: 3px;
}

.profile-line {
	margin-top: 2em;
	border-top: 1px solid #999999;
	padding: 2% 0;
}

/* ngPerformance */

#perfStats {
  position: fixed;
  right: 0;
  bottom: 15px;
  z-index: 100000;
  background-color: rgba(250, 249, 244, 0.97);
  border: 3px solid #843376;
  border-right: none;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 1px 4px black;
  padding: 0 15px 15px;
  font-size: 0.65em;
}
#perfStats h3 {
  margin-bottom: 0;
}
#perfStats td:last-child {
  text-align: right;
}

/* Mobile/Tablet Break */

@media (max-width: 992px) {
.left-profile, .right-profile {text-align:center;}
}